<?xml version="1.0" encoding="UTF-8"?>
<math><annotation-xml encoding="MathML-Content">
  <apply>
    <eq/>
    <apply>
      <divide/>
      <apply>
        <plus/>
        <ci>𝑎</ci>
        <ci>𝑏</ci>
        <ci>𝑐</ci>
      </apply>
      <cn type="integer">3</cn>
    </apply>
    <ci>𝑒</ci>
  </apply>
</annotation-xml></math>
